<!DOCTYPE html>
<html>
    <head>
        <title>{{ sitename }}-articlecreate</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/main.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/content.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/left.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/manager.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/calendar.css' )}}" rel="stylesheet">
    </head>
    <body>
        <div id="all">
            <div id="all_left">
                <div id="left_logo">
                    <h1 id="left_head">
                        <a href="">
                            {{ sitename }}
                        </a>
                    </h1>
                </div>
                <ul id="left_ul">
                    <li>
                        <a href="../intro" id="choice_0">概述</a>
                    </li>
                    <li class="active">
                        <a href="#" id="choice_1" onclick="click_trans_change('article')" class="active">文章管理</a>
                    </li>
                    <ul id="change_1" style="height:auto; padding-left: 0px;">
                            <li>
                                <a href="../post/list" id="hidden_a">文章列表</a>
                            </li>
                            <li>
                                <a href="../post/create" class="active" id="hidden_a">添加文章</a>
                            </li>
                    </ul>
                    <li>
                        <a href="#" id="choice_2" onclick="click_trans_change('page')">页面管理</a>
                    </li>
                    <ul id="change_2" style="height:auto; display: none; padding-left: 0px;">
                            <li>
                                <a href="../page/list" id="hidden_a">页面列表</a>
                            </li>
                            <li>
                                <a href="../page/create" id="hidden_a">添加页面</a>
                            </li>
                    </ul>
<!--                    <li>-->
<!--                        <a href="#" id="choice_3" onclick="click_trans_change('tag')"">标签管理</a>-->
<!--                    </li>-->
<!--                    <ul id="change_3" style="height:auto; display: none; padding-left: 0px;">-->
<!--                            <li>-->
<!--                                <a href="tag_manager.html" id="hidden_a">标签列表</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="tag_create.html" id="hidden_a">添加标签</a>-->
<!--                            </li>-->
<!--                    </ul>-->
                    <li>
                        <a href="../setting" id="choice_4">系统设置</a>
                    </li>
                </ul>
            </div>
        </div>
            <div id="all_content">
                <div style="background-color: #323232; height: 30px; border: 3px solid #393939">
                    <a href= "../admin" id="content_menu" style="margin-left:30px;">首页</a>
                    <font id="content_menu_font">/ 文章管理 /</font>
                    <a href= "" id="content_menu">添加文章</a>
                </div>
                <hr>
                <div id="article_create_content">
                    <div id="article_create_left">
                        <p id="article_font">撰写文章</p>
<!--                        <input type="text" class="text notnone_text" placeholder="标题（不可为空）" oninput="not_none(this, 0)"/>-->
                        {{ form.Header(class = "text notnone_text", placeholder="标题（不可为空）", oninput="not_none(this, 0)") }}
                        <p id="informations0"></p>
                        {% for error in form.Header.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <p style="margin-top:30px;">文章URL： {{ siteip }}post/&nbsp;
<!--                            <input type="text" class="text notnone_text" placeholder="文件名（不可为空）" oninput="not_none(this, 1)"/>-->
                            {{ form.Filename(class = "text notnone_text", placeholder="文件名（不可为空）", oninput="not_none(this, 1)") }}
                            &nbsp;.html</p>
                        <p id="informations1" style="margin-left: 300px;"></p>
                        {% for error in form.Filename.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <div id="article_write">
                            <div style="top: 0; background-color:aliceblue;">
                                <ul id="article_write_choices">
                                    <li id="choices_b" style="float:left">
                                        <a title="黑体">
                                            B
                                        </a>
                                    </li>
                                    <li id="choices_i" style="float:left">
                                        <a title="斜体">
                                            I
                                        </a>
                                    </li>
                                    <li id="choices_c" style="float:left">
                                        <a title="代码">
                                            C
                                        </a>
                                    </li>
                                    <li>
                                        <a title="分割线">
                                            HR
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="article_write_capacity">
                                <textarea id="article_write_including"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="article_create_right">
                        <div style="position: relative; top: 50px; width: 100%; height: 100%;">
                        <input type="submit" class="submit" value="发布文章" onclick="funny()"/>
                        <p>日期</p>
                        <input type="text" class="text" id="date" readonly="readonly">
                        <div id="calendar" style="display: none">
                            <h2 id="YandM"></h2>
                            <a id="next" href="#">下个月</a>
                            <a id="last" href="#">上个月</a>
                            <hr>
                            <ul class="week">
                                <li style="color: red">日</li>
                                <li>一</li>
                                <li>二</li>
                                <li>三</li>
                                <li>四</li>
                                <li>五</li>
                                <li>六</li>
                            </ul>
                            <ul class="date">
                            </ul>
                        </div>
                        <p>标签</p>
                        <div id="select">
                            <span id="select_show" ></span>
                            <span id="select_expand">▼</span>
                        </div>
                        <ul class="options" id="options" style="height: auto; display: none">
                            <li class="option"  onclick="selectbox(this)" style="display: block">样例1</li>
                            <li class="option"  onclick="selectbox(this)" style="display: block">样例2</li>
                            <li class="option"  onclick="selectbox(this)" style="display: block">样例3</li>
                        </ul>
                        <p>公开</p>
                        <p><input name="choices" type="radio" checked="check" style="margin-top: 2px; margin-bottom: 2px; margin-right: 5px;"><span style="font-weight: bold">均可见</span></p>
                        <p><input name="choices" type="radio" style="margin-top: 2px; margin-bottom: 2px; margin-right: 5px;"><span style="font-weight: bold">仅自己</span></p>
                        <p>作者</p>
                        <input type="text" class="text" id="author">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/click_trans.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/to_page.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script>
        $(function(){
            var now = new Date()
            calendar(now.getFullYear(), now.getMonth() + 1, now.getDate())
        })
        $(document).ready(function()
        {
        $("#select_expand").click(function(){
        $(".options").slideToggle("1500");
            });
        });

        $(function(){
            var Now = 0;
            function run(n) {
                var Today = new Date();
                var Year = Today.getFullYear();
                var Day = Today.getDate();
                Today.setMonth(Today.getMonth() + n);
                var Month = Today.getMonth();
                var month_days = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                if(Month == 1){
                    if(Year % 4 == 0 && Year % 100 == 0 || Year % 400 == 0) {
                        month_days[Month] = 29;
                    }
                }
                var now_month_days = month_days[Month];
                Today.setDate(1);
                var now_month_firstday = Today.getDay();
                $(".date").empty();
                for(var i = 0; i < now_month_firstday; i++)
                {
                    $(".date").append("<li></li>")
                }
                for(var i = 1; i < now_month_days; i++)
                {
                    if(i != Day)
                        $(".date").append("<li onclick=\"calendar(" + Year + "," + (Month+1) + "," + i + ")\">" + i + "</li>")
                    else
                        if(Now == 0)
                            $(".date").append("<li class=\"today\"onclick=\"calendar(" + Year + "," + (Month+1) + "," + i + ")\">" + i + "</li>")
                }
                $("#YandM").text(Year + "年" + (Month+1) + "月")
            }
            run(0);
            $("#next").click(function(){
                Now+=1;
                run(Now);
            });
            $("#last").click(function(){
                Now-=1;
                run(Now);
            });
            $("#date").click(function(){
                $("#calendar").slideToggle("1500");
            });
        })
    </script>
</body>
</html>