<!DOCTYPE html>
<html>
    <head>        
        <title>{{ sitename }}-introduction</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/main.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/content.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/left.css' )}}" rel="stylesheet">
    </head>
    <body>
        <div id="all">
            <div id="all_left">
                <div id="left_logo">
                    <h1 id="left_head">
                        <a href="">
                            {{ form.get_sitename() }}
                        </a>
                    </h1>
                </div>
                <ul id="left_ul">
                    <li class="active">
                        <a href="" id="choice_0" class="active">概述</a>
                    </li>
                    <li>
                        <a href="#" id="choice_1" onclick="click_trans_change('article')">文章管理</a>
                    </li>
                    <ul id="change_1" style="height:auto; display: none; padding-left: 0px;">
                            <li>
                                <a href="../admin/post/list" id="hidden_a">文章列表</a>
                            </li>
                            <li>
                                <a href="../admin/post/create" id="hidden_a">添加文章</a>
                            </li>
                    </ul>
                    <li>
                        <a href="#" id="choice_2" onclick="click_trans_change('page')">页面管理</a>
                    </li>
                    <ul id="change_2" style="height:auto; display: none; padding-left: 0px;">
                            <li>
                                <a href="../admin/page/list" id="hidden_a">页面列表</a>
                            </li>
                            <li>
                                <a href="../admin/page/create" id="hidden_a">添加页面</a>
                            </li>
                    </ul>
<!--                    <li>-->
<!--                        <a href="#" id="choice_3" onclick="click_trans_change('tag')"">标签管理</a>-->
<!--                    </li>-->
<!--                    <ul id="change_3" style="height:auto; display: none; padding-left: 0px;">-->
<!--                            <li>-->
<!--                                <a href="tag_manager.html" id="hidden_a">标签列表</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="tag_create.html" id="hidden_a">添加标签</a>-->
<!--                            </li>-->
<!--                    </ul>-->
                    <li>
                        <a href="../admin/setting" id="choice_4">系统设置</a>
                    </li>
                </ul>
            </div>
            <div id="all_content">
                <div style="background-color: #323232; height: 30px; border: 3px solid #393939">
                    <a href= "/admin" id="content_menu" style="margin-left:30px;">首页</a>
                    <font id="content_menu_font">/</font>
                    <a href= "" id="content_menu">概述</a>
                </div>
                <hr>
                <font id="intro_content_header0">网站概要</font>
                <div id="intro_content0">
                    <p>目前有 {{ form.get_articlenum() }} 篇文章、 {{ form.get_pagenum() }} 张页面</p>
                    <p>你可以通过点击下面的链接快速进行编辑：</p>
                    <div style="margin-bottom: 30px;">
                        <a id="intro_content_a" href="../admin/post/create">撰写新文章</a>&nbsp;
                        <a id="intro_content_a" href="../admin/page/create">创建新界面</a>&nbsp;
<!--                        <a id="intro_content_a" href="tag_create.html#">生成新标签</a>&nbsp;-->
                        <a id="intro_content_a" href="../admin/setting">系统设置</a>
                    </div>
                    <hr>
                </div>
                <font id="intro_content_header1">最近发布开放的文章</font>
                <!--需要后端接口-->
                <div id="intro_content1">
                    {% for article in form.get_articles() %}
                        <p><a id="intro_content_a" href="../admin/edit/{{ article['href'] }}">{{ article['date'] }}&emsp;{{ article['title'] }}</a></p>
                    {% endfor %}
                </div>
                <font id="intro_content_header2">关于我们</font>
                <div id="intro_content2">
                    <p>github：<a id="intro_content_a" href="https://github.com/Cindemor/Flask-Blog">https://github.com/Cindemor/Flask-Blog</a></p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/click_trans.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/to_page.js' )}}"></script>
</body>
</html>