<!DOCTYPE html>
<html>
    <head>
        <title>页面列表 - {{ sitename }}</title>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('show_pic', filename=logoname) }}">
        <link href="{{ url_for('static', filename='css/main.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/content.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/left.css' )}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/manager.css' )}}" rel="stylesheet">
    </head>
    <body>
        <div id="all">
            <div id="all_left">
                <div id="left_logo">
                    <h1 id="left_head">
                        <a href="../..">
                            {{ sitename }}
                        </a>
                    </h1>
                </div>
                <ul id="left_ul">
                    <li>
                        <a href="../intro" id="choice_0">概述</a>
                    </li>
                    <li>
                        <a href="#" id="choice_1" onclick="click_trans_change('article')">文章管理</a>
                    </li>
                    <ul id="change_1" style="height:auto; display:none; padding-left: 0px;">
                            <li>
                                <a href="../post/list" id="hidden_a">文章列表</a>
                            </li>
                            <li>
                                <a href="../post/create" id="hidden_a">添加文章</a>
                            </li>
                    </ul>
                    <li class="active">
                        <a href="#" id="choice_2" onclick="click_trans_change('page')" class="active">页面管理</a>
                    </li>
                    <ul id="change_2" style="height:auto; padding-left: 0px;">
                            <li>
                                <a href="../page/list" class="active" id="hidden_a">页面列表</a>
                            </li>
                            <li>
                                <a href="../page/create" id="hidden_a">添加页面</a>
                            </li>
                    </ul>
<!--                    <li>-->
<!--                        <a href="#" id="choice_3" onclick="click_trans_change('tag')">标签管理</a>-->
<!--                    </li>-->
<!--                    <ul id="change_3" style="height:auto; display:none; padding-left: 0px;">-->
<!--                            <li>-->
<!--                                <a href="tag_manager.html" id="hidden_a">标签列表</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="tag_create.html" id="hidden_a">添加标签</a>-->
<!--                            </li>-->
<!--                    </ul>-->
                    <li>
                        <a href="../setting" id="choice_4">系统设置</a>
                    </li>
                </ul>
            </div>
            <div id="all_content">
                <div style="background-color: #323232; height: 30px; border: 3px solid #393939">
                    <a href= "../intro" id="content_menu" style="margin-left:30px;">首页</a>
                    <font id="content_menu_font">/ 页面管理 /</font>
                    <a href= "" id="content_menu">页面列表</a>
                </div>
                <hr>
                <div id="article_create_content" style="width:auto; height: auto; left: 61%; top: 50px;">
                    <input type="text" class="text" id="search_text" placeholder="搜索标题（关键字）"/>
                    <input type="submit" class="submit" value="Search" onclick="search()"
                    style="width: 60px; position: absolute; top: -1px; left: 319px; height: 28px;"/>
                </div>
                <div id="tag_list_capacity">
                    <table id="tag_list">
                        <thead id="tag_list_head">
                            <tr>
                                <th>
                                    <div>标题</div>
                                </th>
                                <th>
                                    <div>作者</div>
                                </th>
                                <th>
                                    <div>状态</div>
                                </th>
                                <th>
                                    <div>最后修改日期</div>
                                </th>
<!--                                <th>-->
<!--                                    <div>修改日期</div>-->
<!--                                </th>-->
                                <th>
                                    <div>操作</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tag_list_body">
                        {% for content in contents %}
                            <tr>
                                <td class="search_choose">
                                    <div>{{ content.get_name() }}</div>
                                </td>
                                <td>
                                    <div>{{ content.get_author() }}</div>
                                </td>
                                <td>
                                    <div>{{ content.get_status() }}</div>
                                </td>
                                <td>
                                    <div>{{ content.get_date() }}</div>
                                </td>
                                <td>
                                    <form action="../page/edit/{{ content.get_file() }}" method="get">
                                        <input type="submit" class="edit" value="编辑" />
                                    </form>
                                    <form action="../page/delete/{{ content.get_file() }}" method="post" onsubmit="return infor()">
                                        <input type="submit" class="delete" value="删除" />
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/click_trans.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/to_page.js' )}}"></script>
        <script type="text/javascript">
        function infor()
        {
            var a = confirm("删除是不可恢复的，你确认要删除吗？");
            if(a)
                return true;
            else
                return false;
        }
    </script>
</body>
</html>